# ---------------------------------------------------------------------------- #
#       Mulesoft Studio                                                        #
# ---------------------------------------------------------------------------- #
.studio/
flows/
target/
src/main/api/.repository/
.mule
catalog/
bin/
/reports